.header {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  border: 1px solid black;
}

.nav-bar > ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-bar > ul > li {
  padding: 1rem;
}

.logo {
  width: 3.5rem;
}


